.app {
  margin: 20px;

}

.search-bar {
  margin-bottom: 20px;
}

.card {
  width: 200px;
  margin: 200px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.card img {
  width: 100%;
  background: none;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.like-button.active {
  color: red;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}














